{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section class="py-4">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-4">
                <div class="card position-relative">
                    <h6 class="bg-primary text-white text-uppercase mb-0 p-2">Deal of the day</h6>
                    <!-- Image Wrapper -->
                    <div class="position-relative">
                      <!-- Product Image -->
                      <img src="{% static 'main/img/product.jpg' %}" class="card-img-top" alt="product image">
                      <!-- Sale Badge -->
                      <span class="badge bg-white border border-dark text-primary position-absolute top-0 start-0 m-1 p-1 rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; border-width: 2px;">On Sale</span>
                  </div>
                    <div class="card-body">
                      <p class="card-text save-btn text-sm mb-1">Save Rs. 100</p>
                      <h3 class="card-text mb-0">Rs. 100</h3>
                      <p class="text-gray-700 mb-0">Rs. 200/10pcs</p>
                      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>   
                      <p><i class="fa-solid fa-star me-2"></i>4.9/104</p>
                      <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">add to cart</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card position-relative">
                    <h6 class="bg-primary text-white text-uppercase mb-0 p-2">Deal of the day</h6>
                    <!-- Image Wrapper -->
                    <div class="position-relative">
                      <!-- Product Image -->
                      <img src="{% static 'main/img/product.jpg' %}" class="card-img-top" alt="product image">
                      <!-- Sale Badge -->
                      <span class="badge bg-white border border-dark text-primary position-absolute top-0 start-0 m-1 p-1 rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; border-width: 2px;">On Sale</span>
                  </div>
                    <div class="card-body">
                      <p class="card-text save-btn text-sm mb-1">Save Rs. 100</p>
                      <h3 class="card-text mb-0">Rs. 100</h3>
                      <p class="text-gray-700 mb-0">Rs. 200/10pcs</p>
                      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>   
                      <p><i class="fa-solid fa-star me-2"></i>4.9/104</p>
                      <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">add to cart</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card position-relative">
                    <h6 class="bg-primary text-white text-uppercase mb-0 p-2">Deal of the day</h6>
                    <!-- Image Wrapper -->
                    <div class="position-relative">
                      <!-- Product Image -->
                      <img src="{% static 'main/img/product.jpg' %}" class="card-img-top" alt="product image">
                      <!-- Sale Badge -->
                      <span class="badge bg-white border border-dark text-primary position-absolute top-0 start-0 m-1 p-1 rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; border-width: 2px;">On Sale</span>
                  </div>
                    <div class="card-body">
                      <p class="card-text save-btn text-sm mb-1">Save Rs. 100</p>
                      <h3 class="card-text mb-0">Rs. 100</h3>
                      <p class="text-gray-700 mb-0">Rs. 200/10pcs</p>
                      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>   
                      <p><i class="fa-solid fa-star me-2"></i>4.9/104</p>
                      <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">add to cart</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card position-relative">
                    <h6 class="bg-primary text-white text-uppercase mb-0 p-2">Deal of the day</h6>
                    <!-- Image Wrapper -->
                    <div class="position-relative">
                      <!-- Product Image -->
                      <img src="{% static 'main/img/product.jpg' %}" class="card-img-top" alt="product image">
                      <!-- Sale Badge -->
                      <span class="badge bg-white border border-dark text-primary position-absolute top-0 start-0 m-1 p-1 rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; border-width: 2px;">On Sale</span>
                  </div>
                  <div class="card-body">
                    <p class="card-text save-btn text-sm mb-1">Save Rs. 100</p>
                    <h3 class="card-text mb-0">Rs. 100</h3>
                    <p class="text-gray-700 mb-0">Rs. 200/10pcs</p>
                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>   
                    <p><i class="fa-solid fa-star me-2"></i>4.9/104</p>
                    <div class="d-grid gap-2">
                      <a href="#" class="btn btn-primary">add to cart</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}